// Colos
$main-back-color: #18191a;
$hover-color: #555;

$purple-color: #a278dc;
$blue-color: #2196f3;
$green-color: #00a800;
$red-color: #d24141;
$text-muted: #6c757d;

$bronze-color: rgb(155, 75, 1);
$bronze-back-color: rgb(232, 160, 109);
$silver-color: gray;
$silver-back-color: silver;
$gold-color: orange;
$gold-back-color: gold;


// Fonts
$brand-font: erbaum, roboto, sans-serif;
$title-size: 2rem;

$_radius: 2px;
