@font-face {
    font-family: 'Erbaum';
    src: local('Erbaum Black'), local('Erbaum-Black'),
        url('Erbaum-Black.woff2') format('woff2'),
        url('Erbaum-Black.woff') format('woff'),
        url('Erbaum-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }